@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'daisyui';

@keyframes toast-pop-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}