<?xml version='1.0' encoding='utf-8'?>
<widget id="com.alr.spendwise" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SpendWise</name>
    <description>Ứng dụng ghi chú và quản lý chi tiêu cá nhân</description>
    <author email="anlerip@gmail.com" href="facebook.com/anle2310">ALR2310</author>

    <platform name="android">
        <icon src="www/assets/imgs/logo.png" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/assets/imgs/logo.png" />
        <preference name="SplashScreenDelay" value="0" />
        <preference name="FadeSplashScreenDuration" value="0" />
        <preference name="AndroidWindowSplashScreenBackground" value="#000000"/>
    </platform>

    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
