<div id="note-content" class="shadow-sm rounded-box p-6">
</div>

<div id="note-list" class="flex flex-col gap-4 m-4">
    <div class="swipeout shadow-sm rounded-box">
        <div class="swipeout-actions-right w-[20%]">
            <button href="#" class="btn btn-error h-full text-white w-full rounded-none">Xoá</button>
        </div>

        <div class="swipeout-content shadow-sm">
            <button class="w-full p-7 font-extrabold opacity-80">Ghi chú của tôi</button>
            <span class="text-base-content opacity-60 font-normal absolute bottom-3 right-3">29/10/2024</span>
            <button class="btn btn-ghost absolute left-0 top-1 opacity-60">
                <i class="fa-sharp fa-regular fa-palette text-xl"></i>
            </button>
        </div>
    </div>

    <div class="shadow-sm rounded-box p-6 flex items-center justify-center bg-base-300">
        <button class="btn btn-square btn-error text-white font-bold text-xl">
            <i class="fa-sharp fa-solid fa-plus"></i>
        </button>
    </div>
</div>