<div id="note-content" class="shadow rounded-box p-6">
</div>

<div id="note-list" class="flex flex-col gap-4 m-4">
    <div class="note-item shadow rounded-box">
        <div class="shadow">
            <button class="w-full p-7 font-extrabold opacity-80">Ghi chú của tôi</button>
            <span class="text-base-content opacity-60 font-normal absolute bottom-3 right-3">29/10/2024</span>
        </div>
    </div>

     <div class="note-item shadow rounded-box">
        <div class="shadow">
            <button class="w-full p-7 font-extrabold opacity-80">Ghi chú của tôi</button>
            <span class="text-base-content opacity-60 font-normal absolute bottom-3 right-3">29/10/2024</span>
        </div>
    </div>

    <div class="add-note shadow rounded-box p-6 flex items-center justify-center bg-base-300">
        <button class="btn btn-square btn-error text-white font-bold text-xl">
            <i class="fa-sharp fa-solid fa-plus"></i>
        </button>
    </div>
</div>

<div id="trash-bin" class="fixed hidden p-4 left-1/2 bottom-15 transform -translate-x-1/2">
    <i class="fa-solid fa-trash-can text-2xl text-error"></i>
</div>