<div class="divider mb-3 mt-3 font-bold">Chung</div>

<div class="ms-4 me-4">
    {{!-- Theme --}}
    <label class="flex justify-between items-center gap-3">
        <div class="w-[210px]">
            <p>Giao diện</p>
            <span class="text-sm text-base-content opacity-60">chọn giao diện sáng tối</span>
        </div>

        <div id="setting_general-theme" class="select select-ghost select-right flex-1">
            <span class="select-value"></span>
            <ul>
                <li data-value="system">System</li>
                <li data-value="light">Light</li>
                <li data-value="dark">Dark</li>
                <li data-value="cupcake">Cupcake</li>
                <li data-value="garden">Garden</li>
                <li data-value="dracula">Dracula</li>
            </ul>
        </div>
    </label>

    <div class="divider divider-sm"></div>

    {{!-- Default Page --}}
    <label class="flex justify-between items-center gap-3">
        <div class="w-[210px]">
            <p>Trang mặt định</p>
            <span class="text-sm text-base-content opacity-60">Chọn trang mặt định sẽ hiển thị khi khởi động ứng
                dụng</span>
        </div>

        <div id="setting_general-page" class="select select-ghost select-right flex-1">
            <span class="select-value"></span>
            <ul>
                <li data-value="spend">Chi tiêu</li>
                <li data-value="stats">Thống kê</li>
                <li data-value="note">Ghi chú</li>
                <li data-value="setting">Cài đặt</li>
            </ul>
        </div>
    </label>

    <div class="divider divider-sm"></div>

    {{!-- Language --}}
    <label class="flex justify-between items-center gap-3">
        <div class="w-[210px]">
            <p>Ngôn ngữ</p>
            <span class="text-sm text-base-content opacity-60">Chọn ngôn ngữ sẽ hiển thị trong ứng dụng</span>
        </div>

        <div id="setting_general-language" class="select select-ghost select-right flex-1">
            <span class="select-value"></span>
            <ul>
                <li data-value="vi">Tiếng việt</li>
                <li data-value="en">Tiếng anh</li>
            </ul>
        </div>
    </label>

    <div class="divider divider-sm"></div>

    {{!-- Notification --}}
    <label class="flex justify-between items-center gap-3">
        <div class="w-[210px]">
            <p>Thông báo</p>
            <span class="text-sm text-base-content opacity-60">Gửi các thông báo nhắc nhở đến điện thoại</span>
        </div>

        <div class="flex-1 flex justify-end">
            <input id="setting_general-notify" type="checkbox" class="toggle toggle-md me-5" checked="checked" />
        </div>
    </label>

    <div class="divider divider-sm"></div>

    {{!-- Update --}}
    <label class="flex justify-between items-center gap-3">
        <div class="w-[210px]">
            <p>Cập nhật</p>
            <span class="text-sm text-base-content opacity-60">Tự động kiểm tra và cập nhật khi ứng dụng khởi
                động</span>
        </div>

        <div class="flex-1 flex justify-end">
            <input id="setting_general-update" type="checkbox" class="toggle toggle-md me-5" checked="checked" />
        </div>
    </label>
</div>

<div class="divider mb-3 mt-3 font-bold">Chi tiêu</div>

<div class="ms-4 me-4">
    {{!-- Default List --}}
    <label class="flex justify-between items-center gap-3">
        <div class="w-[210px]">
            <p>Danh sách mặc định</p>
            <span class="text-sm text-base-content opacity-60">Chọn danh sách mặc định sẽ hiển thị khi mở trang</span>
        </div>

        <div id="setting_spend-list" class="select select-ghost select-right flex-1">
            <span class="select-value"></span>
            <ul>
                <li data-value="1">Danh sách 1</li>
                <li data-value="2">Danh sách 2</li>
            </ul>
        </div>
    </label>

    <div class="divider divider-sm"></div>

    {{!-- Default Sort --}}
    <label class="flex justify-between items-center gap-3">
        <div class="w-[210px]">
            <p>Sắp xếp</p>
            <span class="text-sm text-base-content opacity-60">Chọn kiểu sẽ sắp xếp dữ liệu trên bảng</span>
        </div>

        <div id="setting_spend-sort" class="select select-ghost select-right flex-1">
            <span class="select-value"></span>
            <ul>
                <li data-value="1">Thời gian</li>
                <li data-value="2">Khoản chi</li>
                <li data-value="3">Số tiền</li>
            </ul>
        </div>
    </label>
</div>

<div class="divider mb-3 mt-3 font-bold">Dữ liệu</div>

<div class="ms-4 me-4">
    {{!-- Login --}}
    <label id="login-button-container" class="flex justify-between items-center gap-3">
        <div class="w-[210px]">
            <p>Đăng nhập</p>
            <span class="text-sm text-base-content opacity-60">Đăng nhập tài khoản Google để sao lưu dữ liệu</span>
        </div>

        <div class="flex-1 flex justify-end">
            <button id="setting_data-login" class="btn btn-active gap-0">
                <img src="{{driveIcon}}" alt="google drive" class="w-7">
                Đăng nhập
            </button>
        </div>
    </label>

    {{!-- Logout --}}
    <label id="logout-button-container" class="flex justify-between items-center gap-3" style="display: none;">
        <div class="w-[210px]">
            <p>Đăng xuất</p>
            <span class="text-sm text-base-content opacity-60">Đăng xuất tài khoản Google khỏi ứng dụng</span>
        </div>

        <div class="flex-1 flex justify-end">
            <button id="setting_data-logout" class="btn btn-error text-white gap-0">
                <img src="{{driveIcon}}" alt="google drive" class="w-7">
                Đăng xuất
            </button>
        </div>
    </label>

    <div class="divider divider-sm"></div>

    {{!-- Backup/Restore --}}
    <div>
        <div class="mb-2">
            <p>Sao lưu/Đồng bộ</p>
            <span class="text-sm text-base-content opacity-60">Khi đã đăng nhập Drive, ứng dụng sẽ tự động sao
                lưu và đồng bộ dữ liệu, nhấn để thực hiện thủ công</span>
        </div>

        <div class="flex justify-between gap-4">
            <button id="setting_data-backup" class="btn btn-info flex-1">
                <i class="fa-sharp fa-regular fa-cloud-arrow-up"></i> Sao lưu dữ liệu
            </button>

            <button id="setting_data-sync" class="btn btn-accent flex-1">
                <i class="fa-sharp fa-regular fa-cloud-arrow-down"></i> Đồng bộ dữ liệu
            </button>
        </div>
    </div>

    <div class="divider divider-sm"></div>

    {{!-- Export/Import --}}
    <div>
        <div class="mb-2">
            <p>Xuất/Nhập tệp</p>
            <span class="text-sm text-base-content opacity-60">Xuất/Nhập tệp dữ liệu của ứng dụng ra bên ngoài</span>
        </div>

        <div class="flex justify-between gap-4">
            <button id="setting_data-import" class="btn btn-info flex-1">
                <i class="fa-sharp fa-regular fa-file-import"></i> Nhập dữ liệu
            </button>

            <button id="setting_data-export" class="btn btn-accent flex-1">
                <i class="fa-sharp fa-regular fa-file-export"></i> Xuất dữ liệu
            </button>
        </div>
    </div>

    <div class="divider divider-sm"></div>

    {{!-- Check update --}}
    <label class="flex justify-between items-center gap-3">
        <div class="w-[210px]">
            <p>Kiểm tra cập nhật</p>
            <span class="text-sm text-base-content opacity-60">Kiểm tra, tải về và cập nhật phiên bản mới của ứng dụng
                nếu có</span>
        </div>

        <div class="flex-1 flex justify-end">
            <button id="setting_data-check-update" class="btn btn-active">
                <p>Kiểm tra cập nhật</p>
            </button>
        </div>
    </label>
</div>

{{!-- App version --}}
<div class="m-4 flex justify-between">
    <p>Phiên bản: <span>{{appVersion}}</span></p>

    <a href="https://github.com/ALR2310/SpendWise" class="auth">Github</a>
</div>

{{!-- Modal confirm import --}}
<dialog id="modal_data_import_confirm" class="modal">
    <div class="modal-box ">
        <h3 class="text-lg font-bold mb-3">Nhập dữ liệu</h3>
        <p>Bạn có muốn nhập dữ liệu này không?</p>

        <div class="list flex flex-col mt-4 mb-4 gap-2 overflow-auto max-h-32"></div>

        <p class="text-warning bg-base-300 p-2 mb-4 rounded-btn">
            <i class="fa-sharp fa-solid fa-triangle-exclamation"></i>
            Lưu ý: Khi nhập dữ liệu mới sẽ thay thế dữ liệu hiện tại của bạn.
        </p>

        <div class="flex justify-end gap-3">
            <form method="dialog">
                <button class="btn w-20">Đóng</button>
            </form>

            <button id="btn_confirm_import" class="btn btn-accent w-20">Nhập</button>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>