<div class="shadow-sm rounded-box bg-base-100 m-4">
    <div class="flex">
        <div class="flex-1 p-2">
            <div class="text-center text-base-content opacity-60">Tổng tuần này</div>
            <div class="text-center font-extrabold text-2xl text-success">336.000 ₫</div>
        </div>

        <div class="border-l border-base-300"></div>

        <div class="flex-1 p-2">
            <div class="text-center text-base-content opacity-60">Tổng tuần trước</div>
            <div class="text-center font-extrabold text-2xl text-success">1.336.000 ₫</div>
        </div>
    </div>

    <hr>

    <div class="text-center text-base-content opacity-60 p-2">Tăng 21% so với tuần trước</div>
</div>



<div id="stats-chart-col" class="bg-base-100 rounded-box shadow-sm h-[40vh] m-4"></div>

<div id="stats-chart-pie" class="bg-base-100 rounded-box shadow-sm h-[40vh] m-4"></div>

<div class="flex m-4 gap-2">
    <div class="join join-vertical bg-base-100 rounded-box shadow-sm flex-1">
        <div class="join-item border border-base-300 p-2">
            <div class="text-center text-base-content opacity-60">Tổng hôm nay</div>
            <div class="text-center font-extrabold text-success">10.000.000 ₫</div>
        </div>

        <div class="join-item border border-base-300 p-2">
            <div class="text-center text-base-content opacity-60">Tổng hôm qua</div>
            <div class="text-center font-extrabold text-success">59 khoản chi</div>
        </div>

        <div class="join-item border border-base-300 p-2">
            <div class="text-center text-base-content opacity-60">Thời gian chi</div>
            <div class="text-center font-extrabold text-info">1099 ngày</div>
        </div>

        <div class="join-item border border-base-300 p-2">
            <div class="text-center text-base-content opacity-60">Tổng khoản chi</div>
            <div class="text-center font-extrabold text-info">59 khoản chi</div>
        </div>

        <div class="join-item border border-base-300 p-2">
            <div class="text-center text-base-content opacity-60">Tổng danh sách</div>
            <div class="text-center font-extrabold text-success">10.000.000 ₫</div>
        </div>
    </div>

    <div class="flex-[1.5]">
        <select class="select select-sm select-bordered w-full mb-2">
            <option>Chi tiêu cá nhân 1</option>
            <option>Chi tiêu cá nhân 2</option>
        </select>

        <div class="overflow-x-auto bg-base-100 rounded-box shadow-sm h-[calc(328px-44px)]">
            <table class="table table-sm table-pin-rows">
                <thead>
                    <tr>
                        <th class="text-base-content">Thời gian</th>
                        <th class="text-base-content">Khoản chi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover cursor-pointer">
                        <td>Ăn sáng</td>
                        <td>1,000,000 VNĐ</td>
                    </tr>
                    <tr class="hover cursor-pointer">
                        <td>Ăn sáng</td>
                        <td>1,000,000 VNĐ</td>
                    </tr>
                    <tr class="hover cursor-pointer">
                        <td>Ăn sáng</td>
                        <td>1,000,000 VNĐ</td>
                    </tr>
                    <tr class="hover cursor-pointer">
                        <td>Ăn sáng</td>
                        <td>1,000,000 VNĐ</td>
                    </tr>
                    <tr class="hover cursor-pointer">
                        <td>Ăn sáng</td>
                        <td>1,000,000 VNĐ</td>
                    </tr>
                    <tr class="hover cursor-pointer">
                        <td>Ăn sáng</td>
                        <td>1,000,000 VNĐ</td>
                    </tr>
                    <tr class="hover cursor-pointer">
                        <td>Ăn sáng</td>
                        <td>1,000,000 VNĐ</td>
                    </tr>
                    <tr class="hover cursor-pointer">
                        <td>Ăn sáng</td>
                        <td>1,000,000 VNĐ</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>