<div id="btm-nav" class="btm-nav btm-nav-sm">
    <button id="spend-btn" class="text-base-content border-t border-base-300">
        <i class="fa-sharp fa-regular fa-wallet"></i>
        <span class="btm-nav-label">Chi tiêu</span>
    </button>

    <button id="stats-btn" class="text-base-content border-t border-base-300 ">
        <i class="fa-sharp fa-regular fa-chart-simple"></i>
        <span class="btm-nav-label">Thống kê</span>
    </button>

    <button id="note-btn" class="text-base-content border-t border-base-300">
        <i class="fa-sharp fa-regular fa-note"></i>
        <span class="btm-nav-label">Ghi chú</span>
    </button>

    <button id="setting-btn" class="text-base-content border-t border-base-300">
        <i class="fa-sharp fa-regular fa-gear"></i>
        <span class="btm-nav-label">Cài đặt</span>
    </button>
</div>