<div id="dock-nav" class="dock dock-sm">
    <button id="spend-btn">
        <i class="fa-sharp fa-regular fa-wallet"></i>
        <span class="dock-label">Spend</span>
    </button>

    <button id="stats-btn">
        <i class="fa-sharp fa-regular fa-chart-simple"></i>
        <span class="dock-label">Stats</span>
    </button>

    <button id="note-btn">
        <i class="fa-sharp fa-regular fa-note"></i>
        <span class="dock-label">Note</span>
    </button>

    <button id="setting-btn">
        <i class="fa-sharp fa-regular fa-gear"></i>
        <span class="dock-label">Setting</span>
    </button>
</div>

<div id="download-update-progress" class="fixed w-full bottom-[45px] p-2 hidden">
    <progress class="progress h-[3px]" value="50" max="100"></progress>
</div>