<div class="navbar min-h-0 p-3 bg-base-100">
    <div class="flex-none">
        <img src="/assets/images/logo.png" class="w-7 h-7">
    </div>
    <div class="flex-1">
        <a id="app-title" class="font-extrabold ps-1 text-xl text-base-content">SpendWise</a>
    </div>
    <div class="flex-none">
        <label class="swap swap-rotate">
            <input type="checkbox" data-toggle-theme="light,dark" class="theme-controller" value="light" />

            <i class="fa-sharp fa-regular fa-moon swap-off fill-current text-2xl"></i>
            <i class="fa-sharp fa-regular fa-brightness swap-on fill-current text-2xl"></i>
        </label>
    </div>
</div>