<div id="page-container" class="overflow-y-scroll no-scrollbar" style="height: calc(100vh - 48px - 52px);">
    <div id="page-spend"></div>
    <div id="page-stats"></div>
    <div id="page-note"></div>
    <div id="page-setting"></div>
</div>