<div class="shadow rounded-box bg-base-100 m-4">
    <div class="flex">
        <div class="flex-1 p-2">
            <div class="text-center text-base-content opacity-60">Tổng tuần này</div>
            <div class="text-center font-extrabold text-2xl text-success">336.000 ₫</div>
        </div>

        <div class="border-l border-base-300"></div>

        <div class="flex-1 p-2">
            <div class="text-center text-base-content opacity-60">Tổng tuần trước</div>
            <div class="text-center font-extrabold text-2xl text-success">1.336.000 ₫</div>
        </div>
    </div>

    <hr>

    <div class="text-center text-base-content opacity-60 p-2">Tăng 21% so với tuần trước</div>
</div>



<div id="stats-chart-col" class="bg-base-100 rounded-box shadow h-[40vh] m-4"></div>

<div id="stats-chart-pie" class="bg-base-100 rounded-box shadow h-[40vh] m-4"></div>


<script src="scripts/stats.js"></script>